---

---

<header
  id="welcome-section"
  class="flex flex-col p-20 font-aleo"
>
  <div class="flex flex-col items-end m-auto">
    <h1 class="text-4xl text-white font-bold">
      <span class="font-aleo italic bold text-amber-400 banner-animate banner-accent">Hello! </span>
      <span class="banner-animate banner-text1">I'm Sebastian</span>
    </h1>
    <p class="font-aleo text-xl text-gray-300 bg-black px-2 py-0.5 banner-animate banner-text2">
      I'm a Web Developer.
    </p>
  </div>
</header>
