---
import { GitHub, Linkedin, Mail, Send, ExternalLink } from "astro-feather-icons";
import DecoratedLink from "./DecoratedLink.astro";
import contactInfo from "../data/contactInfo.json";
---

<footer id="contact" class="flex flex-col items-center p-4 pb-12 bg-dark-blue text-white">
  <h2 class="font-roboto text-white text-2xl font-bold pb-2">Let's get in touch!</h2>
  <ul class="flex md:flex-row flex-col gap-x-8 gap-y-2 text-xl">
    <li>
      <DecoratedLink link={contactInfo.linkedin} linkText="LinkedIn" linkType="external"/>
  </li>
  <li>
    <DecoratedLink link={contactInfo.github} linkText="GitHub" linkType="external"/>
  </li>
  <li>
    <DecoratedLink link={contactInfo.email} linkText="Email" linkType="email"/>
  </li>
  </ul>
  
</footer>
