---

---

<nav
  id="main-menu"
  class="flex flex-row justify-end align-middle bg-dark-blue p-y1 pr-8 sticky top-0 left-0 z-10"
>
  <div id="navbar" class="text-white">
    <ul
      class="flex flex-row gap-4 text-xl font-roboto-condensed font-bold p-1"
    >
      <li>
        <a href="#portfolio">Portfolio</a><div class="link-underline"></div>
      </li>
      <li>
        <a href="#contact">Contact info</a><div class="link-underline"></div>
      </li>
    </ul>
  </div>
</nav>
